body {
  background: #aaa;
}

#container {
  width: 400px;
  display: flex;
  overflow: auto;
}

#flex-scroll {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.box {
  width: 75px;
  height: 75px;
}

.box:nth-child(3n-2) {
  background-color: #EF5350;
}

.box:nth-child(3n-1) {
  background-color: #2E7D32;
}

.box:nth-child(3n) {
  background-color: #03A9F4;
}